
apiVersion: v1
kind: ConfigMap
metadata:
  name: rvps-reference-values
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
  namespace: {{ .Release.Namespace }}
data:
  reference-values.json: |
    [
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kbs-config-cm
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
  namespace: {{ .Release.Namespace }}
data:
  kbs-config.toml: |
    [http_server]
    sockets = ["0.0.0.0:8080"]
    insecure_http = true

    [admin]
    insecure_api = true
    auth_public_key = "/etc/auth-secret/publicKey"

    [attestation_token]
    insecure_key = true
    attestation_token_type = "CoCo"
{{- if and .Values.tdx.enabled .Values.tdx.intelTrustAuthority.enabled }}
    # Intel Trust Authority configuration
    trusted_certs_paths = ["https://portal.trustauthority.intel.com"]
{{- end }}

    [attestation_service]
    type = "coco_as_builtin"
    work_dir = "/opt/confidential-containers/attestation-service"
    policy_engine = "opa"

      [attestation_service.attestation_token_broker]
      type = "Ear"
      policy_dir = "/opt/confidential-containers/attestation-service/policies"

      [attestation_service.attestation_token_config]
      duration_min = 5

      [attestation_service.rvps_config]
      type = "BuiltIn"

        [attestation_service.rvps_config.storage]
        type = "LocalJson"
        file_path = "/opt/confidential-containers/rvps/reference-values/reference-values.json"
{{- if and .Values.tdx.enabled .Values.tdx.intelTrustAuthority.enabled }}
    # Intel Trust Authority configuration
    [intel_trust_authority_config]
    base_url = "{{ .Values.tdx.intelTrustAuthority.baseUrl }}"
    api_key = "{{ .Values.tdx.ITAKey }}"
    certs_file = "https://portal.trustauthority.intel.com"
{{- end }}

    [[plugins]]
    name = "resource"
    type = "LocalFs"
    dir_path = "/opt/confidential-containers/kbs/repository"

    [policy_engine]
    policy_path = "/opt/confidential-containers/opa/policy.rego"
---
{{- if and .Values.tdx.enabled (not .Values.tdx.intelTrustAuthority.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: tdx-config
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
  namespace: {{ .Release.Namespace }}
data:
  sgx_default_qcnl.conf: |
    {
      "pccs_url": "https://pccs-service.intel-dcap:8042/sgx/certification/v4/",
      "use_secure_cert": false,
      "retry_times": 6,
      "retry_delay": 10,
      "pck_cache_expire_hours": 168,
      "verify_collateral_cache_expire_hours": 168,
      "local_cache_only": false
    }
{{- end }}
---