apiVersion: confidentialcontainers.org/v1alpha1
kind: KbsConfig
metadata:
  labels:
    app.kubernetes.io/name: kbsconfig
    app.kubernetes.io/instance: kbsconfig
    app.kubernetes.io/part-of: trustee-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: trustee-operator
  name: kbsconfig
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  namespace: {{ .Release.Namespace }}
spec:
  # Always use kbs-config-cm (content changes based on TDX settings)
  kbsConfigMapName: kbs-config-cm
{{- if .Values.resourcePolicy }}
  kbsResourcePolicyConfigMapName: resource-policy-{{ .Values.resourcePolicy }}
{{- else }}
  kbsResourcePolicyConfigMapName: resource-policy-permissive
{{- end }}
  kbsAuthSecretName: kbs-auth-public-key
  kbsDeploymentType: AllInOneDeployment
  kbsRvpsRefValuesConfigMapName: rvps-reference-values
  kbsSecretResources: ["kbsres1", "security-policy"]
{{- if and .Values.tdx.enabled (not .Values.tdx.intelTrustAuthority.enabled) }}
  # TDX mode: Use local PCCS caching for attestation
  tdxConfigSpec:
    kbsTdxConfigMapName: tdx-config
{{- end }}
  # Specify this attribute if you need to override the default attestation policy
  # the attestation-policy config map has to be created first (see operator configuration)
  # kbsAttestationPolicyConfigMapName: attestation-policy
  
  # Specify this attribute if you need to change the serviceType (the default is ClusterIP)
  # in this example the NodePort service is created
  # If you are creating an in-cluster trustee, you must have NodePort
  # in-cluster trustee is not supported in production
  kbsServiceType: {{ if .Values.crossCluster.enabled }}ClusterIP{{ else }}NodePort{{ end }}
  
  # Specify this attribute for enabling DEBUG log in trustee pods
  KbsEnvVars:
    RUST_LOG: debug
