# Security Policy Secret - Multiple policy variants
# User selects which policy to use via initdata:
#   image_security_policy_uri = 'kbs:///default/containers-policy/insecure'
#   image_security_policy_uri = 'kbs:///default/containers-policy/signed'
#   image_security_policy_uri = 'kbs:///default/containers-policy/reject'
apiVersion: v1
kind: Secret
metadata:
  name: containers-policy
  namespace: {{ .Values.namespaceOverride | default .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
type: Opaque
stringData:
  # Policy 1: Accept all images (no signature verification)
  insecure: |
    {
      "default": [
        {
          "type": "insecureAcceptAnything"
        }
      ],
      "transports": {}
    }

  # Policy 2: Reject all images
  reject: |
    {
      "default": [
        {
          "type": "reject"
        }
      ],
      "transports": {}
    }

  # Policy 3: Require signatures for configured images
  signed: |
    {
      "default": [
        {
          "type": "reject"
        }
      ],
      "transports": {
        "docker": {
{{- range $index, $img := .Values.securityPolicy.signedImages }}
          "{{ $img.image }}": [
            {
              "type": "sigstoreSigned",
              "keyPath": "kbs:///default/cosign-keys/key-{{ $index }}"
            }
          ]{{ if ne (add1 $index) (len $.Values.securityPolicy.signedImages) }},{{ end }}
{{- end }}
        }
      }
    }
